/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Sass utilities */
/*Mixins*/
/* Base stuff */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #010101;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000000;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

h5 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #0068bc;
  border-bottom: 1px solid #0068bc;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
a:hover {
  border-color: transparent;
}

.container {
  width: 1000px;
  margin: auto;
}

.section {
  min-width: 1000px;
}

.btn {
  display: inline-block;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn-white {
  padding: 9px 25px;
  color: #0068bc;
  border: 1px solid #8cbbe1;
}
.btn-white:hover {
  color: #ffab00;
  border-color: #ffd98c;
}
.btn-blue {
  display: table;
  height: 34px;
  font-size: 13px;
  font-weight: 600;
  color: #303030;
  border-bottom: 1px solid #3e80b7;
  background: #c1e7fb;
  padding: 0 12px;
  vertical-align: middle;
  background: -moz-linear-gradient(bottom, #a2daf7 0%, #c1e7fb 50%, #dcf3ff 100%);
  background: -webkit-linear-gradient(bottom, #a2daf7 0%, #c1e7fb 50%, #dcf3ff 100%);
  background: -o-linear-gradient(bottom, #a2daf7 0%, #c1e7fb 50%, #dcf3ff 100%);
  background: -ms-linear-gradient(bottom, #a2daf7 0%, #c1e7fb 50%, #dcf3ff 100%);
  background: linear-gradient(bottom, #a2daf7 0%, #c1e7fb 50%, #dcf3ff 100%);
}
.btn-blue .left-image {
  display: table-cell;
  vertical-align: middle;
  padding-right: 12px;
  border-right: 1px solid #56b7e4;
}
.btn-blue .right-image {
  display: table-cell;
  vertical-align: middle;
  padding-left: 12px;
}
.btn-blue .main-text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 12px;
}
.btn-blue.single .main-text {
  padding-left: 0;
}
.btn-blue:hover {
  border-color: #3e80b7;
  background: -moz-linear-gradient(bottom, #86cbee 0%, #a8daf4 50%, #cceafa 100%);
  background: -webkit-linear-gradient(bottom, #86cbee 0%, #a8daf4 50%, #cceafa 100%);
  background: -o-linear-gradient(bottom, #86cbee 0%, #a8daf4 50%, #cceafa 100%);
  background: -ms-linear-gradient(bottom, #86cbee 0%, #a8daf4 50%, #cceafa 100%);
  background: linear-gradient(bottom, #86cbee 0%, #a8daf4 50%, #cceafa 100%);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.btn-orange {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 700;
  color: #8d6d00;
  background: #a45500;
  background: -moz-linear-gradient(bottom, #ffc702 0%, #ffd82a 50%, #ffe850 100%);
  background: -webkit-linear-gradient(bottom, #ffc702 0%, #ffd82a 50%, #ffe850 100%);
  background: -o-linear-gradient(bottom, #ffc702 0%, #ffd82a 50%, #ffe850 100%);
  background: -ms-linear-gradient(bottom, #ffc702 0%, #ffd82a 50%, #ffe850 100%);
  background: linear-gradient(bottom, #ffc702 0%, #ffd82a 50%, #ffe850 100%);
  border: 1px solid #dba500;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
}
.btn-orange:hover {
  background: -moz-linear-gradient(bottom, #ffe850 0%, #ffd82a 50%, #ffc702 100%);
  background: -webkit-linear-gradient(bottom, #ffe850 0%, #ffd82a 50%, #ffc702 100%);
  background: -o-linear-gradient(bottom, #ffe850 0%, #ffd82a 50%, #ffc702 100%);
  background: -ms-linear-gradient(bottom, #ffe850 0%, #ffd82a 50%, #ffc702 100%);
  background: linear-gradient(bottom, #ffe850 0%, #ffd82a 50%, #ffc702 100%);
  border: 1px solid #dba500;
}

.btn-orange-holder {
  display: inline-block;
  padding: 4px;
  background: -moz-linear-gradient(bottom, #fefefe 0%, #e7e7e7 50%, #cccccc 100%);
  background: -webkit-linear-gradient(bottom, #fefefe 0%, #e7e7e7 50%, #cccccc 100%);
  background: -o-linear-gradient(bottom, #fefefe 0%, #e7e7e7 50%, #cccccc 100%);
  background: -ms-linear-gradient(bottom, #fefefe 0%, #e7e7e7 50%, #cccccc 100%);
  background: linear-gradient(bottom, #fefefe 0%, #e7e7e7 50%, #cccccc 100%);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.btn-orange-holder .btn-orange {
  width: 100%;
}

/* Layout related stylesheets* */
.header-section {
  background: url(../img/bg/header_bg.jpg) repeat-x bottom;
  border-bottom: 1px solid #b3bcc0;
  -webkit-box-shadow: 0 1px 0 #d7e1e6;
  -moz-box-shadow: 0 1px 0 #d7e1e6;
  box-shadow: 0 1px 0 #d7e1e6;
}
.header-visible {
  padding: 15px 0;
  min-height: 75px;
}
.header-visible .logo {
  border: none;
}
.header-visible .location {
  display: inline-block;
  margin-left: 25px;
  position: relative;
}
.header-visible .location .location-list {
  position: absolute;
  top: 48px;
  left: -18px;
  background: #ecf0f1;
  width: 170px;
  z-index: 150;
  padding: 11px 5px 11px 0;
  height: 175px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.header-visible .location .location-list:after {
  content: '';
  position: absolute;
  left: 50%;
  top: -20px;
  margin-left: -10px;
  border: 10px solid transparent;
  border-bottom: 10px solid #ecf0f1;
}
.header-visible .location .location-list a {
  border: none;
}
.header-visible .location .location-list .item {
  display: block;
  padding: 4px 0 4px 15px;
  font-size: 14px;
  font-style: italic;
  color: #303030;
}
.header-visible .location .location-list .item:hover {
  background: #979999;
  color: #ffffff;
}
.header-visible .login-btn {
  float: right;
  padding-top: 8px;
}
.header-login {
  padding: 30px 0 10px;
  text-align: center;
}
.header-login h3 {
  margin-bottom: 5px;
  text-shadow: 1px 1px 0 #0069bc;
}
.header-login p {
  font-size: 16px;
  color: #ffffff;
  text-shadow: 1px 1px 0 #0069bc;
}
.header-login .close-holder {
  margin-bottom: 25px;
}
.header-login .close-holder-btn {
  border: none;
}
.header-login-inner {
  width: 755px;
  margin: 40px auto 0;
}
.header-login-inner:after {
  content: "";
  display: table;
  clear: both;
}
.header-login-section {
  float: left;
}
.header-login-section .btn {
  width: 100%;
}
.header-login-section .btn-orange-holder {
  width: 100%;
}
.header-login .partners-holder {
  width: 200px;
  margin-right: 20px;
}
.header-login .inputs-holder {
  width: 310px;
  margin-right: 20px;
}
.header-login .inputs-holder .input-holder {
  margin-bottom: 20px;
  padding: 4px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #4084bc;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 3px rgba(64, 132, 188, 0.8);
  -moz-box-shadow: 0 1px 3px rgba(64, 132, 188, 0.8);
  box-shadow: 0 1px 3px rgba(64, 132, 188, 0.8);
}
.header-login .inputs-holder input {
  width: 100%;
  height: 30px;
  padding: 0 30px;
  border: 1px solid #9cadbc;
  background: rgba(255, 255, 255, 0.6);
  outline: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
.header-login .btns-holder {
  width: 200px;
}
.header-login .btns-holder .btn-blue {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: #004ec2;
  margin-bottom: 20px;
}

.search-section {
  padding: 10px 0;
  background: #e8f3f8;
  border-bottom: 1px solid #dfe9f1;
  -webkit-box-shadow: 0 1px 0 #ecf2f7, 0 2px 0 #f6f8fb, 0 3px 0 #fcfdfe;
  -moz-box-shadow: 0 1px 0 #ecf2f7, 0 2px 0 #f6f8fb, 0 3px 0 #fcfdfe;
  box-shadow: 0 1px 0 #ecf2f7, 0 2px 0 #f6f8fb, 0 3px 0 #fcfdfe;
}
.search-section .container:after {
  content: "";
  display: table;
  clear: both;
}
.search-section .input-holder {
  width: 625px;
  float: left;
  position: relative;
}
.search-section .input-holder input[type="text"] {
  width: 100%;
  height: 32px;
  padding: 0 110px 0 40px;
  background: url(../img/icons/search.png) center left 10px no-repeat, #ffffff;
  outline: none;
  border: 1px solid #c5cfd3;
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), 0 1px 0 #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.search-section .input-holder input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 31px;
  padding: 0;
  width: 102px;
}
.search-section p.result {
  display: inline-block;
  font-weight: 600;
  margin-left: 25px;
  padding-top: 3px;
  color: #303030;
}
.search-section p.result span {
  font-size: 24px;
  font-weight: 700;
  margin-right: 5px;
}

.footer-inner {
  background: #0567b7;
  background: -moz-linear-gradient(bottom, #014593 0%, #0567b7 50%, #0985d6 100%);
  background: -webkit-linear-gradient(bottom, #014593 0%, #0567b7 50%, #0985d6 100%);
  background: -o-linear-gradient(bottom, #014593 0%, #0567b7 50%, #0985d6 100%);
  background: -ms-linear-gradient(bottom, #014593 0%, #0567b7 50%, #0985d6 100%);
  background: linear-gradient(bottom, #014593 0%, #0567b7 50%, #0985d6 100%);
}
.footer-top {
  padding: 45px 0;
  border-bottom: 1px solid #007cce;
}
.footer-top .container:after {
  content: "";
  display: table;
  clear: both;
}
.footer-top .left {
  width: 500px;
  float: left;
}
.footer-top .left:after {
  content: "";
  display: table;
  clear: both;
}
.footer-top .left-inner {
  width: 33%;
  float: left;
  padding: 0 15px;
}
.footer-top .left-item {
  display: block;
  color: #ffffff;
  text-align: center;
  border: none;
}
.footer-top .left-item .image-holder {
  padding-bottom: 15px;
  position: relative;
}
.footer-top .left-item .image-holder img {
  z-index: 10;
  position: relative;
}
.footer-top .left-item .image-holder:before {
  content: '';
  background: url(../img/footer/hover.png) no-repeat;
  position: absolute;
  top: -60px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 160px;
  z-index: 5;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer-top .left-item h5 {
  display: inline-block;
  color: #d0e1f3;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid #d0e1f3;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer-top .left-item p {
  font-size: 13px;
  color: #d0e1f3;
  line-height: 1.1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer-top .left-item:hover h5 {
  color: #ffffff;
  border-color: #ffffff;
}
.footer-top .left-item:hover p {
  color: #ffffff;
}
.footer-top .left-item:hover .image-holder:before {
  opacity: 1;
}
.footer-top .right {
  width: 440px;
  float: right;
}
.footer-top .right h3 {
  font-style: italic;
  margin-bottom: 25px;
}
.footer-top .right p {
  color: #ffffff;
  line-height: 1.6;
}
.footer-center {
  padding: 45px 0;
}
.footer-center .container:after {
  content: "";
  display: table;
  clear: both;
}
.footer-center .left {
  width: 750px;
  float: left;
}
.footer-center .left-item {
  width: 25%;
  float: left;
}
.footer-center .left-item:after {
  content: "";
  display: table;
  clear: both;
}
.footer-center .left-item h5 {
  display: inline-block;
  color: #69a4db;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ffffff;
}
.footer-center .left-item ul li {
  margin-bottom: 5px;
}
.footer-center .left-item ul li a {
  font-size: 13px;
  color: #d0e1f3;
  border-color: transparent;
}
.footer-center .left-item ul li a:hover {
  border-color: #d0e1f3;
}
.footer-center .left-item .btn-blue {
  width: 160px;
  margin-top: 10px;
}
.footer-center .right {
  width: 250px;
  float: right;
}
.footer-center .right .social {
  text-align: right;
}
.footer-center .right .social a {
  border: none;
  opacity: .7;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer-center .right .social a:hover {
  opacity: 1;
}
.footer-center .right .social p {
  font-size: 15px;
  font-weight: 300;
  color: #4b9bdf;
}
.footer-bottom {
  background: url(../img/bg/footer_bg.jpg) repeat-x;
  height: 90px;
  padding-top: 30px;
}
.footer-bottom p {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer-bottom p a {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  border-color: #ffffff;
}
.footer-bottom p a:hover {
  border-color: transparent;
}

/* Pages */
.slider-section {
  padding: 40px 0 15px;
  border-bottom: 1px solid #dfe9f1;
  -webkit-box-shadow: inset 0 -1px 0 #ecf2f7, inset 0 -2px 0 #f6f8fb, inset 0 -3px 0 #fcfdfe;
  -moz-box-shadow: inset 0 -1px 0 #ecf2f7, inset 0 -2px 0 #f6f8fb, inset 0 -3px 0 #fcfdfe;
  box-shadow: inset 0 -1px 0 #ecf2f7, inset 0 -2px 0 #f6f8fb, inset 0 -3px 0 #fcfdfe;
}
.slider-section .container {
  position: relative;
}
.slider-section .container:after {
  content: "";
  display: table;
  clear: both;
}
.slider-section .slider {
  text-align: center;
}
.slider-section .slider .text-holder {
  position: absolute;
  top: 0;
  right: 100%;
  width: 400px;
  text-align: left;
  padding-top: 30px;
}
.slider-section .slider .text-holder h1 {
  font-size: 48px;
  font-weight: 800;
  color: #bddfff;
  margin-bottom: 5px;
  text-shadow: 2px 2px 0 #304a62;
}
.slider-section .slider .text-holder p {
  font-size: 24px;
  font-weight: 300;
  color: #002e61;
  line-height: 1.5;
}
.slider-section .bx-wrapper {
  width: 500px;
  float: right;
}

.categories-section {
  padding-bottom: 30px;
}

.categories-inner:after {
  content: "";
  display: table;
  clear: both;
}
.categories-item {
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 20px;
}
.categories-item-inner {
  display: inline-block;
  position: relative;
  border: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.categories-item-inner .image-holder {
  height: 75px;
}
.categories-item-inner .image-holder img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.categories-item-inner .image-holder img.stat {
  opacity: 1;
}
.categories-item-inner .image-holder img.hov {
  opacity: 0;
}
.categories-item-inner .image-holder-first img {
  margin-left: -37px;
}
.categories-item-inner .image-holder-second img {
  margin-left: -44px;
}
.categories-item-inner .image-holder-third img {
  margin-left: -36px;
}
.categories-item-inner .image-holder-fourth img {
  margin-left: -46px;
}
.categories-item-inner .image-holder-fifth img {
  margin-left: -43px;
}
.categories-item-inner .image-holder-sixth img {
  margin-left: -50px;
}
.categories-item-inner .image-holder-seventh img {
  margin-left: -50px;
}
.categories-item-inner .image-holder-eighth img {
  margin-left: -35px;
}
.categories-item-inner:hover img.stat, .categories-item-inner.active img.stat {
  opacity: 0;
}
.categories-item-inner:hover img.hov, .categories-item-inner.active img.hov {
  opacity: 1;
}
.categories-item-inner:hover .btn-white, .categories-item-inner.active .btn-white {
  color: #ffab00;
  border-color: #ffd98c;
}

.categories-holder {
  position: relative;
  padding: 0 0 15px;
}
.categories-holder .categories-btn {
  text-align: center;
}
.categories-holder .categories-btn .categoriesToggle {
  background: none;
  border: none;
  outline: none;
  font-size: 30px;
  font-weight: 700;
  color: #0068bc;
  cursor: pointer;
  border-bottom: 1px dashed #b2b2b2;
  padding-bottom: 8px;
}
.categories-holder .categories-btn .categoriesToggle img {
  margin-left: 10px;
}
.categories-holder .categories-section {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: #ffffff;
  z-index: 100;
  border-bottom: 1px solid #c5c5c5;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.offers-section {
  padding: 45px 0 30px;
  text-align: center;
  background: url(../img/bg/offers_bg.jpg) repeat-x;
  height: 490px;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3), inset 0 -20px 20px -20px rgba(0, 0, 0, 0.3);
}
.offers-section h2 {
  margin-bottom: 20px;
}
.offers-section .container {
  position: relative;
}
.offers-section .container .bx-viewport {
  overflow-x: hidden;
  margin: auto;
}
.offers-section .container .bx-wrapper .bx-prev {
  left: -58px;
}
.offers-section .container .bx-wrapper .bx-next {
  right: -58px;
}
.offers-section .container .offer-item {
  margin-left: 1px;
}
.offers-section .container .slide {
  height: 360px;
}

.offer-item {
  width: 320px;
  height: 340px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
.offer-item .image-holder {
  height: 218px;
  position: relative;
}
.offer-item .image-holder img {
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
.offer-item .image-holder .discount {
  position: absolute;
  top: 20px;
  right: -7px;
  background: url(../img/icons/discount.png) no-repeat;
  width: 67px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding: 14px 0 0 10px;
}
.offer-item-content {
  height: 121px;
  background: #ffffff;
  text-align: left;
  padding: 20px 20px 30px 20px;
  position: relative;
  border-left: 1px solid #c0c5c6;
  border-right: 1px solid #c0c5c6;
  border-bottom: 1px solid #c0c5c6;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
.offer-item-content h5 {
  font-size: 18px;
  font-weight: 600;
  padding-right: 40px;
  margin-bottom: 5px;
  line-height: 1.2;
}
.offer-item-content p {
  line-height: 1.5;
  padding-right: 20px;
}
.offer-item-content .btn-orange-holder {
  position: absolute;
  left: 50%;
  bottom: -17px;
  width: 150px;
  text-align: center;
  margin-left: -75px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.offer-item-content .btn-orange-holder .btn {
  width: 100%;
}
.offer-item-content .likes {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.offer-item-content .likes .like {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url(../img/icons/like.png);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.offer-item-content .likes .count {
  font-size: 12px;
  color: #666666;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}
.offer-item-content .likes:hover .like {
  background: url(../img/icons/like_h.png);
}
.offer-item:hover .btn-orange-holder {
  opacity: 1;
}
.offer-item:hover .likes {
  opacity: 1;
}

.news-section {
  padding: 45px 0 30px;
  text-align: center;
}
.news-section h2 {
  margin-bottom: 25px;
}
.news-section-inner:after {
  content: "";
  display: table;
  clear: both;
}
.news-section-inner .left {
  width: 500px;
  float: left;
}
.news-section-inner .left-item {
  border: 1px solid #e9e9e9;
  margin-bottom: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.news-section-inner .left-item .image-holder {
  padding: 5px;
  display: table-cell;
  vertical-align: middle;
  border-right: 1px solid #e9e9e9;
  width: 90px;
}
.news-section-inner .left-item .text-holder {
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  -ms-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
  padding: 20px;
  width: 408px;
  display: table-cell;
  vertical-align: middle;
  background: #f8fafb;
  text-align: left;
}
.news-section-inner .left-item .text-holder p {
  line-height: 1.3;
}
.news-section-inner .left-item .text-holder p span {
  font-weight: 700;
}
.news-section-inner .left-item .text-holder p a {
  font-weight: bold;
}
.news-section-inner .left-item .text-holder p.rating {
  font-size: 12px;
  color: #666666;
  margin-top: 10px;
}
.news-section-inner .right {
  width: 480px;
  float: right;
  position: relative;
}
.news-section-inner .right .bx-viewport {
  overflow: hidden;
}
.news-section-inner .right .bx-wrapper .bx-controls-direction a {
  width: 38px;
  height: 38px;
  margin-top: 0;
}
.news-section-inner .right .bx-wrapper .bx-prev {
  left: 50%;
  top: -55px;
  background: url(../img/slider/arrow_up.png);
  margin-left: -19px;
}
.news-section-inner .right .bx-wrapper .bx-next {
  right: 50%;
  top: auto;
  bottom: -55px;
  margin-right: -15px;
  background: url(../img/slider/arrow_down.png);
}
.news-section-inner .right .bx-wrapper .bx-prev:hover {
  background: url(../img/slider/arrow_up_h.png);
}
.news-section-inner .right .bx-wrapper .bx-next:hover {
  background: url(../img/slider/arrow_down_h.png);
}
.news-section-inner .right .vertical-item {
  height: 210px;
  background: #f7fafb;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.news-section-inner .right .vertical-item .image-holder, .news-section-inner .right .vertical-item .text-holder {
  display: table-cell;
  vertical-align: middle;
}
.news-section-inner .right .vertical-item .image-holder {
  width: 230px;
}
.news-section-inner .right .vertical-item .image-holder img {
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  -ms-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
.news-section-inner .right .vertical-item .text-holder {
  text-align: left;
  position: relative;
  padding: 25px 15px;
}
.news-section-inner .right .vertical-item .text-holder h5 {
  margin-bottom: 10px;
}
.news-section-inner .right .vertical-item .text-holder p {
  font-size: 13px;
  line-height: 1.2;
}
.news-section-inner .right .vertical-item .text-holder .likes {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.news-section-inner .right .vertical-item .text-holder .likes .like {
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url(../img/icons/like.png);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.news-section-inner .right .vertical-item .text-holder .likes .count {
  font-size: 12px;
  color: #666666;
  float: right;
  margin-top: 5px;
  margin-left: 10px;
}
.news-section-inner .right .vertical-item .text-holder .likes:hover .like {
  background: url(../img/icons/like_h.png);
}
.news-section-inner .right .vertical-item .text-holder .btn-orange-holder {
  padding: 9 30px;
  position: absolute;
  right: 5px;
  bottom: 7px;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.news-section-inner .right .vertical-item .text-holder .btn-orange-holder .btn {
  width: 100%;
}
.news-section-inner .right .vertical-item:hover .btn-orange-holder {
  opacity: 1;
}
.news-section-inner .right .vertical-item:hover .likes {
  opacity: 1;
}

.mobile-section {
  background: url(../img/bg/mobile_bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}
.mobile-section .container {
  padding: 75px 0 80px;
  position: relative;
}
.mobile-section h3 {
  width: 300px;
  line-height: 1.3;
  margin-bottom: 25px;
}
.mobile-section a {
  border: none;
  margin-right: 15px;
  opacity: .7;
}
.mobile-section a:hover {
  opacity: 1;
}
.mobile-section img.hand {
  position: absolute;
  bottom: 0;
  right: 50px;
}

.breadcrumbs-section {
  padding: 15px 0;
}
.breadcrumbs-section .breadcrumbs {
  text-align: center;
}
.breadcrumbs-section .breadcrumbs li {
  display: inline-block;
}
.breadcrumbs-section .breadcrumbs li a {
  vertical-align: middle;
}
.breadcrumbs-section .breadcrumbs li:last-child a {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  color: #303030;
  border-color: transparent;
  cursor: default;
}
.breadcrumbs-section .breadcrumbs li:after {
  content: '>';
  font-size: 18px;
  color: #303030;
  margin-left: 5px;
  margin-top: 1px;
  float: right;
}
.breadcrumbs-section .breadcrumbs li:last-child:after {
  content: none;
}

.categories-list {
  padding-bottom: 35px;
  padding-top: 15px;
}
.categories-list .more-holder {
  text-align: center;
  position: relative;
}
.categories-list .more-holder .more {
  padding: 15px 50px 15px 25px;
  display: inline-block;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  background: #f4f4f4;
  border: 1px solid #bdbdbd;
  position: relative;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.categories-list .more-holder .more:hover {
  opacity: .8;
}
.categories-list .more-holder .more img {
  float: right;
  position: absolute;
  top: 6px;
  right: 6px;
}
.categories-list .more-holder #gotop {
  width: 53px;
  height: 53px;
  position: absolute;
  top: -5px;
  right: -65px;
  border: none;
  background: url(../img/icons/gotop.png) no-repeat;
}
.categories-list-inner:after {
  content: "";
  display: table;
  clear: both;
}
.categories-list-inner .offer-item {
  height: 360px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.categories-list-inner .offer-item-content {
  height: 141px;
}
.categories-list-inner .offer-item-content hr {
  position: absolute;
  left: 20px;
  bottom: 38px;
  height: 0;
  border: none;
  border-top: 1px solid #d2d2d2;
  width: 278px;
}
.categories-list-inner .offer-item-content .btn-orange-holder {
  width: 130px;
  left: auto;
  right: 10px;
  bottom: 0;
  opacity: 1;
}
.categories-list-inner .offer-item-content .likes {
  opacity: 1;
  top: auto;
  right: auto;
  left: 20px;
  bottom: 10px;
}
.categories-list-inner .offer-item-content p .date {
  color: #ff0a00;
}
.categories-list-inner .offer-item-content p .date .hour {
  position: relative;
  padding-right: 10px;
}
.categories-list-inner .offer-item-content p .date .hour .minutes {
  position: absolute;
  right: 0;
  top: 1px;
  font-size: 9px;
}
.categories-list-inner .offer-item:nth-child(3n+3) {
  margin-right: 0;
}
