.breadcrumbs-section {
  padding: 20px 0 15px;
  .breadcrumbs {
    text-align: center;
    li {
      display: inline-block;
      a {
        vertical-align: middle;
        color: #a6a6a6;
        border: none;
        font-size: 17px;
      }
      &:last-child {
        a {
          color: #0068bc;
          cursor: default;
        }
      }
      &:after {
        content: '';
        background: url(../img/icons/big_arrow_right.png) no-repeat;
        width: 10px;
        height: 18px;
        margin-left: 7px;
        margin-right: 2px;
        margin-top: 1px;
        float: right;
      }
      &:last-child:after {
        content: none;
      }
    }
  }
}

.categories-holder {
    position: relative;
    padding: 0 0 15px;
    .categories-btn {
        text-align: center;
        .categoriesToggle {
            background: none;
            border: none;
            outline: none;
            font-size: 30px;
            font-weight: $bold;
            color: #0068bc;
            cursor: pointer;
            border-bottom: 1px dashed #b2b2b2;
            padding-bottom: 8px;
            img {
                margin-left: 10px;
                @include transition (all, 0.2s, linear);
            }
            &.open {
              img {
                @include transform (rotate(180deg));
              }
            }
        }
    }
    .categories-section {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background: $white;
        z-index: 100;
        border-bottom: 1px solid #c5c5c5;
        @include box-shadow (0 1px 0 rgba(0,0,0,.1));
    }
}

.categories-list {
    padding-bottom: 35px;
    padding-top: 15px;
    .more-holder {
      text-align: center;
      position: relative;
      .more {
        padding: 15px 50px 15px 25px;
        display: inline-block;
        border: none;
        font-size: 16px;
        font-weight: $semibold;
        text-transform: uppercase;
        color: $black;
        background: #f4f4f4;
        border: 1px solid #bdbdbd;
        position: relative;
        @include border-radius (25px);
        @include box-shadow (0 1px 5px rgba(0,0,0,.2));
        img {
          float: right;
          position: absolute;
          top: 6px;
          right: 6px;
          @include transition (all, 0.4s, linear);
          &.stat {
            opacity: 1;
          }
          &.hov {
            opacity: 0;
          }
        }
        &:hover {
          img {
            &.stat {
              opacity: 0;
            }
            &.hov {
              opacity: 1;
            }
          }
        }
      }
        #gotop {
          width: 53px;
          height: 53px;
          position: absolute;
          top: -3px;
          right: 275px;
          border: none;
          background: url(../img/icons/gotop.png) no-repeat;
          &:hover {
            background: url(../img/icons/gotop_h.png) no-repeat;
          }
        }
    }
    &-inner {
        @include clearfix;
        .offer-item {
            height: 360px;
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            &-content {
                height: 142px;
                hr {
                    position: absolute;
                    left: 20px;
                    bottom: 38px;
                    height: 0;
                    border: none;
                    border-top: 1px solid #d2d2d2;
                    width: 278px;
                }
                .btn-orange-holder {
                    width: 130px;
                    left: auto;
                    right: 10px;
                    bottom: 0;
                    opacity: 1;
                }
                .likes {
                    opacity: 1;
                    top: auto;
                    right: auto;
                    left: 20px;
                    bottom: 10px;
                }
                p {
                  .date {
                    color: #ff0a00;
                    .hour {
                      position: relative;
                      padding-right: 10px;
                      .minutes {
                        position: absolute;
                        right: 0;
                        top: 1px;
                        font-size: 9px;
                      }
                    }
                  }
                }
            }
        }
        &:nth-child(3n+3) {
           margin-right: 0;
        }
        &.master-list {
          padding-bottom: 20px;
          .offer-item {
                height: 310px;
                width: 282px;
                box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
                margin-right: 36px;
                &-content {
                  height: 120px;
                  padding: 15px 20px 30px 20px;
                  h5 {
                    font-size: 14px;
                    font-weight: 700;
                  }
                  p {
                    font-size: 12px;
                  }
                }
                .image-holder {
                  height: 190px;
                  img {
                    height: 190px;
                    width: 100%;
                  }
                }
                hr {
                  width: 245px;
                }
          &:nth-child(2n+2) {
            margin-right: 0;
          }
            }
        }
    }
}


























