.page-nav {
    margin: 15px 0 20px;
    text-align: center;
    overflow: hidden;
    &-inner {
        display: inline-block;
        padding: 10px;
        background: #e7f3f8;
        position: relative;
        @include border-radius (25px);
        &:before, &:after {
            content: '';
            position: absolute;
            top: 50%;
            background: #e7f3f8;
            width: 1500px;
            margin-top: -2px;
            height: 4px;
        }
        &:before {
            right: 100%;
        }
        &:after {
            left: 100%;
        }
        a {
            display: inline-block;
            padding: 8px 15px;
            font-size: 12px;
            color: #000000;
            text-transform: uppercase;
            background: #ffffff;
            border: 1px solid #abb4b8;
            vertical-align: middle;
            .left-image {
                width: 16px;
                height: 16px;
                display: inline-block;
                margin-right: 4px;
                vertical-align: middle;
            }
            .text {
                vertical-align: middle;
            }
            &:first-child {
                @include border-radius (20px 0 0 20px);
            }
            &:last-child {
                margin-left: -6px;
                @include border-radius (0 20px 20px 0);
            }
            &.active {
                background: #787678;
                color: #ffffff;
                border-color: #e7f3f8;
                border-bottom-color: #ffffff;
                @include box-shadow (inset 1px 0 4px rgba(0,0,0,.9));
                .left-image {
                    background-position: left bottom;
                }
            }
            &.salons {
                .left-image {
                    background-image: url(../img/icons/salons.png);
                }
            }
            &.masters {
                .left-image {
                    width: 14px;
                    background-image: url(../img/icons/masters.png);
                }
            }
            &.list {
                .left-image {
                    background-image: url(../img/icons/list.png);
                }
            }
            &.map {
                .left-image {
                    width: 12px;
                    background-image: url(../img/icons/map.png);
                }
            }
        }
    }
    &-item {
        display: inline-block;
    }
    &.salons-page {
        text-align: right;
        .salons-page-item {
            margin-right: 15px;
        }
        .page-nav-inner {
            margin-right: 151px;
        }
    }
    &.map-nav {
        padding-top: 15px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        margin: 0;
        .page-nav-inner {
            &:before, &:after {
                content: none;
            }
        }
        @media #{$mobile} {
            text-align: right;

        }
    }
}


        .more-holder {
          text-align: center;
          position: relative;
          .more {
            padding: 15px 50px 15px 25px;
            display: inline-block;
            border: none;
            font-size: 16px;
            font-weight: $semibold;
            text-transform: uppercase;
            color: $black;
            background: #f4f4f4;
            border: 1px solid #bdbdbd;
            position: relative;
            @include border-radius (25px);
            @include box-shadow (0 1px 5px rgba(0,0,0,.2));
            img {
              float: right;
              position: absolute;
              top: 6px;
              right: 6px;
              @include transition (all, 0.4s, linear);
              &.stat {
                opacity: 1;
              }
              &.hov {
                opacity: 0;
              }
            }
            &:hover {
              img {
                &.stat {
                  opacity: 0;
                }
                &.hov {
                  opacity: 1;
                }
              }
            }
          }
            #gotop {
              width: 53px;
              height: 53px;
              position: absolute;
              top: -3px;
              right: 185px;
              border: none;
              background: url(../img/icons/gotop.png) no-repeat;
              &:hover {
                background: url(../img/icons/gotop_h.png) no-repeat;
              }
            }
        }

.main-content {
    position: relative;
    .content-right {
        width: 710px;
        float: right;
        .offer-item {
            margin-right: 30px;
            margin-bottom: 30px;
            width: 340px;
            .image-holder {
                img {
                    width: 100%;
                }
            }
            hr {
                width: 298px;
            }
            .stars {
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
        .offer-item:nth-child(2n+2) {
            margin-right: 0;
        }
    }
    .sidebar-left {
        width: 255px;
        float: left;
        border: 1px solid #d2d2d2;
        @include border-radius (20px);
        .search-container {
            padding: 20px;
            .search-holder {
                padding: 5px;
                border: 1px solid #d2d2d2;
                position: relative;
                @include border-radius (20px);
                @include box-shadow (0 1px 4px rgba(0,0,0,.14));
                .search {
                    height: 30px;
                    width: 100%;
                    padding: 0 30px 0 15px;
                    font-size: 13px;
                    color: #666666;
                    outline: none;
                    border: 1px solid #d2d2d2;
                    @include border-radius (20px);
                    @include box-shadow (inset 0 1px 4px rgba(0,0,0,.14));
                }
                input[type="button"] {
                    width: 16px;
                    height: 16px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background: url(../img/icons/search_gray.png) no-repeat;
                    position: absolute;
                    top: 12px;
                    right: 15px;
                }
            }
        }
        .filter-list {
            > li {
                display: block;
                padding: 12px 4px;
                border-top: 1px solid #d2d2d2;
                > a {
                    margin-left: 14px;
                    display: inline-block;
                    font-size: 13px;
                    font-weight: $semibold;
                    color: #303030;
                    text-transform: uppercase;
                    border-color: transparent;
                    padding-bottom: 3px;
                    img {
                        margin-left: 10px;
                        @include transition (all, 0.2s, linear);
                    }
                }
                &.open {
                    > a {
                        img {
                            @include transform (rotate(180deg));
                        }
                    }
                }
                .sublist {
                    padding: 5px 0;
                    li {
                        cursor: pointer;
                        padding: 2px 14px 4px;
                        border: 2px solid transparent;
                        @include border-radius (15px 0 0 15px);
                        a {
                            display: inline-block;
                            font-size: 12px;
                            color: #303030;
                            border-color: transparent;
                            span {
                                color: #0068bc;
                                @include transition (all, 0.4s, linear);
                            }
                        }
                        .filter-modal {
                            z-index: 10;
                            background: #ffffff;
                            width: 750px;
                            position: absolute;
                            top: 0;
                            right: -7px;
                            padding: 15px 20px;
                            border: 2px solid #408ecd;
                            @include border-radius (20px);
                            @include clearfix;
                            a {
                                margin: 7px 0;
                                display: inline-block;
                                &:hover {
                                    color: #d89100;
                                    border-color: #d89100;
                                    span {
                                        color: #d89100;
                                    }
                                }
                            }
                            .left-modal {
                                width: 50%;
                                float: left;
                                border-right: 1px solid #d2d2d2;
                                padding-right: 20px;
                            }
                            .right-modal {
                                padding-left: 20px;
                                width: 50%;
                                float: right;
                            }
                        }
                        &.active {
                            border-color: #408ecd;
                            &:after {
                                content: '';
                                width: 45px;
                                height: 23px;
                                background: #ffffff;
                                border-top: 2px solid #408ecd;
                                border-bottom: 2px solid #408ecd;
                                float: right;
                                margin-top: -4px;
                                margin-right: -57px;
                                z-index: 100;
                            }
                        }
                    }
                }
            }
        }
    }
}

.map-section {
    padding-left: 510px;
    height: 900px;
    min-width: 1030px;
    position: relative;
    .filter-container {
        width: 510px;
        height: 900px;
        position: absolute;
        left: 0;
        top: 0;
        overflow-x: hidden;
        border-top: 1px solid #d5d5d5;
        z-index: 50;
        .filter-top {
            border-bottom: 1px solid #d5d5d5;
            padding: 10px 20px 15px;
            .search-container {
                @include clearfix;
            }
            .left {
                width: 50%;
                float: left;
                padding-top: 16px;
            }
                .search-holder {
                    padding: 5px;
                    border: 1px solid #d2d2d2;
                    position: relative;
                    background: #ffffff;
                    @include border-radius (20px);
                    @include box-shadow (0 1px 4px rgba(0,0,0,.14));
                    .search {
                        height: 30px;
                        width: 100%;
                        padding: 0 30px 0 15px;
                        font-size: 13px;
                        color: #666666;
                        outline: none;
                        border: 1px solid #d2d2d2;
                        @include border-radius (20px);
                        @include box-shadow (inset 0 1px 4px rgba(0,0,0,.14));
                    }
                    input[type="button"] {
                        width: 16px;
                        height: 16px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        background: url(../img/icons/search_gray.png) no-repeat;
                        position: absolute;
                        top: 12px;
                        right: 15px;
                    }
                }
            .right {
                width: 50%;
                float: right;
                text-align: center;
                position: relative;
                p {
                    font-size: 13px;
                    font-weight: $semibold;
                    color: #303030;
                    margin-bottom: 8px;
                }
                .question {
                    position: absolute;
                    right: -5px;
                    bottom: 2px;
                    border: none;
                }
                .check {
                    a {
                        padding: 8px 0;
                        display: inline-block;
                        width: 62px;
                        border: 1px solid #b7b9ba;
                        margin-right: -4px;
                        font-size: 14px;
                        font-weight: $semibold;
                        color: #303030;
                        @include box-shadow (0 1px 4px rgba(0,0,0,.14));
                        &:first-child {
                            margin-left: -5px;
                            @include border-radius (15px 0 0 15px);
                        }
                        &:last-child {
                            @include border-radius (0 15px 15px 0);
                        }
                        &:hover {
                            border-color: #fcd24e;
                        }
                    }
                }
            }
            .filter-categories {
                padding-top: 15px;
                @include clearfix;
                &-section {
                    width: 33%;
                    float: left;
                    p {
                        font-size: 13px;
                        font-weight: $semibold;
                        margin-bottom: 10px;
                        color: #303030;
                    }
                    .filter-more {
                        padding-left: 23px;
                        a {
                            font-size: 12px;
                            color: #303030;
                            border-color: #8f9091;
                            &:hover {
                                color: #0068bc;
                                border-color: transparent;
                            }
                        }
                    }
                    &.first {
                        border-right: 1px solid #d5d5d5;
                    }
                    &.second {
                        padding-left: 20px;
                        border-right: 1px solid #d5d5d5;
                    }
                    &.third {
                        padding-left: 20px;
                    }
                }
            }
        }
        .filter-content {
            &-item {
                padding: 8px;
                border-top: 1px solid #ffffff;
                border-bottom: 1px solid #d5d5d5;
                @include clearfix;
                .image-holder {
                    width: 190px;
                    float: left;
                    img {
                        width: 100%;
                        height: 160px;
                        @include border-radius (8px);
                    }
                }
                .item-content {
                    width: 250px;
                    float: right;
                    margin-right: 12px;
                    min-height: 160px;
                    position: relative;
                    padding-bottom: 75px;
                    padding-top: 5px;
                    h5 {
                        font-size: 18px;
                        font-weight: $semibold;
                        margin-bottom: 8px;
                    }
                    p {
                        line-height: 1.4;
                    }
                    &-bottom {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        .stars-holder {
                            @include clearfix;
                            .stars {
                                float: right;
                            }
                        }
                        hr {
                            border: none;
                            border-top: 1px solid #d2d2d2;
                        }
                        .clearfix {
                            @include clearfix;
                        }
                        .likes {
                            float: left;
                            cursor: pointer;
                            margin-top: 10px;
                            @include transition (all, 0.3s, linear);
                            .like {
                                display: inline-block;
                                width: 19px;
                                height: 19px;
                                background: url(../img/icons/like.png);
                                @include transition (all, 0.3s, linear);
                            }
                            .count {
                                font-size: 12px;
                                color: #666666;
                                float: right;
                                margin-top: 5px;
                                margin-left: 10px;
                            }
                            &:hover {
                                .like {
                                    background: url(../img/icons/like_h.png);
                                }
                                .count {
                                    color: #0068bc;
                                }
                            }
                        }
                        .btn-orange-holder {
                            float: right;
                            .btn-orange {
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
    #big-map {
        width: 100%;
        height: 900px;
    }
}

.checkbox-holder {
    margin: 4px 0;
}
.checkbox-holder input[type=checkbox] {
    display: none;
}
.checkbox-holder input[type=checkbox] + label {
    font-size: 12px;
    color: #303030;
    cursor: pointer;
}
.checkbox-holder input[type=checkbox] + label:hover {
    color: #0068bc;
}
.checkbox-holder input[type=checkbox] + label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 19px;
    width: 18px;
    margin: 0 5px 0 0;
    background: url(../img/icons/checkbox.png) no-repeat;
}
.checkbox-holder input[type=checkbox] + label:hover::before {
    background-position: 0 -19px;
}
.checkbox-holder input[type=checkbox]:checked + label::before {
    background-position: 0 -38px;
}
.checkbox-holder input[type=checkbox]:checked + label {
    color: #999999;
}

