.main-content {
    padding: 5px 15px 55px;
    @include clearfix;
    .content-left {
        float: left;
        width: 672px;
        &-inner {
            margin-bottom: 55px;
            padding: 15px 35px;
            border: 1px solid #e0e0e0;
            @include border-radius (20px);
            .action-single {
                margin-bottom: 50px;
                h4 {
                    font-size: 25px;
                    font-weight: $semibold;
                    color: #f5281c;
                    margin-bottom: 10px;
                }
                p {
                    line-height: 1.3;
                    .date {
                        color: #ff0a00;
                        .hour {
                            position: relative;
                            padding-right: 10px;
                            .minutes {
                                position: absolute;
                                right: 0;
                                top: 1px;
                                font-size: 9px;
                            }
                        }
                    }
                }
                .image-holder {
                    margin-top: 10px;
                    img {
                        width: 100%;
                        @include border-radius (24px);
                    }
                }
                .share {
                    margin-top: 20px;
                    .big-like {
                        float: right;
                    }
                }
            }
        }
        .developments-single {
            position: relative;
            padding: 0;
            &-slider {
                position: relative;
                .bx-wrapper .bx-controls-direction a {
                    height: 42px;
                    width: 42px;
                }
                .bx-wrapper .bx-prev {
                    left: 10px;
                    background: url(../img/slider/gray_left.png);
                }
                .bx-wrapper .bx-next {
                    right: 10px;
                    background: url(../img/slider/gray_right.png);
                }
                .bx-wrapper .bx-pager {
                    left: auto;
                    right: 25px;
                    bottom: 15px;
                    width: auto;
                }
                .bx-wrapper .bx-pager.bx-default-pager a {
                    background: #ffffff;
                }
                .bx-wrapper .bx-pager.bx-default-pager a:hover,
                .bx-wrapper .bx-pager.bx-default-pager a.active {
                    background: #0f7cce;
                }
                img {
                    @include border-radius (20px);
                    width: 100%;
                    height: 390px;
                }
                .discount {
                    width: 86px;
                    height: 46px;
                    background: url(../img/icons/discount_big.png) no-repeat;
                    position: absolute;
                    top: 25px;
                    right: -8px;
                    font-size: 18px;
                    font-weight: $bold;
                    color: #ffffff;
                    padding-top: 17px;
                    padding-left: 15px;
                    text-align: center;
                    text-shadow: 1px 1px 0 #790f0c;
                }
            }
            &-inner {
                padding: 15px 35px;
                h4 {
                    font-weight: $semibold;
                    margin-bottom: 15px;
                }
                .rating {
                    margin-bottom: 15px;
                    @include clearfix;
                    .stars {
                        float: left;
                    }
                    .big-like {
                        float: right;
                    }
                }
            }
        }
        .developments-tabs {
            position: relative;
            padding: 0;
            @include border-radius (0 20px 20px 20px);
            .tabs {
                border-top: 1px solid #c5c5c5;
                border-left: 1px solid #c5c5c5;
                border-right: 1px solid #c5c5c5;
                position: absolute;
                left: -1px;
                bottom: 100%;
                overflow: hidden;
                @include clearfix;
                @include border-radius (20px 20px 0 0);
                li {
                    height: 36px;
                    padding-top: 5px;
                    background: #dfe5e5;
                    cursor: pointer;
                    float: left;
                    width: 150px;
                    text-align: center;
                    font-size: 12px;
                    font-weight: &bold;
                    text-transform: uppercase;
                    color: #666666;
                    border-bottom: 1px solid #c5c5c5;
                    border-right: 1px solid #c5c5c5;
                    .left-image {
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                    .text {
                        vertical-align: middle;
                    }
                    &:last-child {
                        border-right: none;
                    }
                    &.current {
                        background: $white;
                        color: #0068bc;
                        border-bottom-color: transparent;
                    }
                    &.descrip {
                        .left-image {
                            background: url(../img/icons/descrip.png) no-repeat;
                        }
                        &.current {
                            .left-image {
                                background-position: left bottom;
                            }
                        }
                    }
                    &.reviews {
                        .left-image {
                            background: url(../img/icons/reviews.png) no-repeat;
                        }
                        &.current {
                            .left-image {
                                background-position: left bottom;
                            }
                        }
                    }
                    &.actions {
                        .left-image {
                            background: url(../img/icons/actions.png) no-repeat;
                        }
                        &.current {
                            .left-image {
                                background-position: left bottom;
                            }
                        }
                    }
                    &.developments {
                        .left-image {
                            background: url(../img/icons/developments.png) no-repeat;
                        }
                        &.current {
                            .left-image {
                                background-position: left bottom;
                            }
                        }
                    }
                    &.masters {
                        .left-image {
                            width: 36px;
                            background: url(../img/icons/hair.png) no-repeat;
                        }
                        &.current {
                            .left-image {
                                background-position: left bottom;
                            }
                        }
                    }
                }
            }
            .box {
                display: none;
                padding: 15px 35px;
                .description {
                    h5 {
                        font-weight: $semibold;
                        margin: 7px 0;
                    }
                    p {
                        line-height: 1.3;
                    }
                }
                &.tabs-list {
                    padding: 40px 0;
                    .tabs-list-item {
                        padding: 20px 40px;
                        border-top: 1px solid transparent;
                        border-left: 1px solid transparent;
                        border-right: 1px solid transparent;
                        border-bottom: 1px solid #d2d2d2;
                        position: relative;
                        background: #ffffff;
                        @include clearfix;
                        .image-holder {
                            float: left;
                            width: 250px;
                            overflow: hidden;
                            position: relative;
                            z-index: 1;
                            @include border-radius (25px);
                            img {
                                width: 100%;
                                height: 106px;
                            }
                        }
                        .text-holder {
                            width: 320px;
                            float: right;
                            position: relative;
                            min-height: 105px;
                            padding-top: 10px;
                            h5 {
                                font-size: 16px;
                                font-weight: $semibold;
                                margin-bottom: 5px;
                            }
                            p {
                                font-size: 12px;
                                line-height: 1.4;
                                margin-bottom: 5px;
                            }
                            .likes {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                cursor: pointer;
                                margin-top: 10px;
                                @include transition (all, 0.3s, linear);
                                .like {
                                    display: inline-block;
                                    width: 19px;
                                    height: 19px;
                                    background: url(../img/icons/like.png);
                                    @include transition (all, 0.3s, linear);
                                }
                                .count {
                                    font-size: 12px;
                                    color: #666666;
                                    float: right;
                                    margin-top: 5px;
                                    margin-left: 10px;
                                }
                                &:hover {
                                    .like {
                                        background: url(../img/icons/like_h.png);
                                    }
                                    .count {
                                        color: #0068bc;
                                    }
                                }
                            }
                        }
                        .discount {
                            position: absolute;
                            top: -6px;
                            right: -7px;
                            background: url(../img/icons/discount.png) no-repeat;
                            width: 67px;
                            height: 36px;
                            font-size: 14px;
                            font-weight: $bold;
                            color: $white;
                            text-align: center;
                            padding: 14px 0 0 10px;
                        }
                        &:hover {
                            z-index: 100;
                            border: 1px solid #5eb0fc;
                            @include box-shadow (0 0 8px 2px rgba(0,0,0,.2));
                            .image-holder {
                                img {
                                    @include scale(1.05);
                                }
                            }
                            .text-holder {
                                h5 {
                                    font-size: 17px
                                }
                                p {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
            .box.visible {
                display: block;
            }
        }
    }
    .sidebar-right {
        float: right;
        width: 292px;
        &-inner {
            border: 1px solid #e0e0e0;
            margin-bottom: 40px;
            @include border-radius (20px);
            .text-holder {
                padding: 20px 20px 10px;
                &-inner {
                    @include clearfix;
                    margin-bottom: 8px;
                    img {
                        float: left;
                        margin-top: -2px;
                    }
                    p {
                        font-size: 13px;
                        font-style: italic;
                        color: #303030;
                        padding-left: 25px;
                        span {
                            font-style: normal;
                            margin-left: 2px;
                        }
                    }
                }
                &.title {
                    p {
                        font-size: 14px;
                    }
                }
            }
            .map-holder {
                #map {
                    width: 100%;
                    height: 145px;
                }
            }
            .head {
                text-align: center;
                padding: 15px 0;
                h5 {
                    font-size: 18px;
                    color: #0068bc;
                }
            }
            .item-holder {
                .image-holder {
                    display: block;
                    border: none;
                    img {
                        width: 100%;
                        height: 145px;
                    }
                }
                .content-holder {
                    padding: 10px 20px 20px;
                    h5 {
                        font-size: 18px;
                        font-weight: $semibold;
                        margin-bottom: 5px;
                    }
                    p {
                        font-size: 12px;
                        line-height: 1.2;
                    }
                }
            }
            .btn-container {
                padding: 20px 40px;
                border-top: 1px solid #d2d2d2;
                .btn-orange-holder {
                    padding: 5px;
                    width: 100%;
                    text-align: center;
                    @include border-radius (24px);
                    .btn {
                        padding: 12px 10px;
                        font-size: 15px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}

.comments-holder {
    .head {
        padding-bottom: 10px;
        border-bottom: 1px solid #d2d2d2;
        h4 {
            font-size: 24px;
            font-weight: $semibold;
            color: #0068bc;
        }
    }
    .btn-container {
        padding: 10px 0 5px;
        border-bottom: 1px solid #d2d2d2;
        .btn-sky {
            font-weight: $semibold;
            padding: 0 15px;
            display: table;
            height: 28px;
            .left-image {
                border-right: 1px solid #009bcf;
                display: table-cell;
                vertical-align: middle;
                padding-right: 8px;
            }
            .main-text {
                display: table-cell;
                vertical-align: middle;
                padding-left: 8px;
            }
        }
    }
    .comments-inner {
        &-item {
            padding: 15px 0;
            border-bottom: 1px solid #d2d2d2;
            .message {
                .author {
                    margin-bottom: 12px;
                    @include clearfix;
                    .avatar {
                        img {
                            width: 40px;
                            height: 34px;
                        }
                    }
                    .name {
                        h5 {
                            font-size: 16px;
                            font-weight: $semibold;
                            margin-bottom: 5px;
                        }
                        p.date {
                            font-size: 12px;
                            color: #666666;
                        }
                    }
                    .stars {
                        float: left;
                    }
                }
                .text-holder {
                    background: #f7fafb;
                    padding: 14px;
                    border: 1px solid #e0e0e0;
                    position: relative;
                    @include border-radius (20px);
                    p {
                        line-height: 1.5;
                    }
                    &:after, &:before {
                        bottom: 100%;
                        border-left: 3px solid transparent;
                        border-right: 3px solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                    }
                    &:after {
                        border-bottom: 8px solid #f7fafb;
                    }
                    &:before {
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-bottom: 9px solid #e0e0e0;
                    }
                }
                &.left-message {
                    .text-holder {
                        &:after, &:before {
                            left: 17px;
                        }
                        &:before {
                            margin-left: -1px;
                        }
                    }
                    .avatar {
                        float: left;
                        margin-right: 8px;
                    }
                    .name {
                        float: left;
                        margin-right: 15px;
                    }
                    .stars {
                        float: left;
                    }
                }
                &.right-message {
                    margin-top: 15px;
                    .text-holder {
                        &:after, &:before {
                            right: 17px;
                        }
                        &:before {
                            margin-right: -1px;
                        }
                    }
                    .avatar {
                        float: right;
                        margin-left: 8px;
                    }
                    .name {
                        float: right;
                        text-align: right;
                        margin-left: 15px;
                    }
                    .stars {
                        float: right;
                    }
                }
            }
        }
    }
    .more-holder {
        padding-top: 20px;
        text-align: center;
        position: relative;
        .more {
            width: 300px;
            padding: 15px 50px 15px 25px;
            display: inline-block;
            border: none;
            font-size: 16px;
            font-weight: $semibold;
            text-transform: uppercase;
            color: $black;
            background: #f4f4f4;
            border: 1px solid #bdbdbd;
            position: relative;
            @include border-radius (25px);
            @include box-shadow (0 1px 5px rgba(0,0,0,.2));
            img {
              float: right;
              position: absolute;
              top: 6px;
              right: 6px;
              @include transition (all, 0.4s, linear);
              &.stat {
                opacity: 1;
              }
              &.hov {
                opacity: 0;
              }
            }
            &:hover {
              img {
                &.stat {
                  opacity: 0;
                }
                &.hov {
                  opacity: 1;
                }
              }
            }
        }
    }
}






































